/*
 * OncoKB APIs for Premium Users
 * These endpoints are designed for premium users. Please contact OncoKB team(contact@oncokb.org) if you want to be upgraded.
 *
 * OpenAPI spec version: v1.0.0
 * Contact: contact@oncokb.org
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package org.oncokb.client;

import org.oncokb.ApiCallback;
import org.oncokb.ApiClient;
import org.oncokb.ApiException;
import org.oncokb.ApiResponse;
import org.oncokb.Configuration;
import org.oncokb.Pair;
import org.oncokb.ProgressRequestBody;
import org.oncokb.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.oncokb.client.AnnotateCopyNumberAlterationQuery;
import org.oncokb.client.AnnotateMutationByGenomicChangeQuery;
import org.oncokb.client.AnnotateMutationByHGVSgQuery;
import org.oncokb.client.AnnotateMutationByProteinChangeQuery;
import org.oncokb.client.AnnotateStructuralVariantQuery;
import org.oncokb.client.IndicatorQueryResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AnnotationsApi {
    private ApiClient apiClient;

    public AnnotationsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AnnotationsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for annotateCopyNumberAlterationsGetUsingGET1
     * @param copyNameAlterationType Copy number alteration type (required)
     * @param hugoSymbol The gene symbol used in Human Genome Organisation. Example: BRAF (optional)
     * @param entrezGeneId The entrez gene ID. (Higher priority than hugoSymbol). Example: 673 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateCopyNumberAlterationsGetUsingGET1Call(String copyNameAlterationType, String hugoSymbol, Integer entrezGeneId, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/annotate/copyNumberAlterations";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (hugoSymbol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hugoSymbol", hugoSymbol));
        if (entrezGeneId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("entrezGeneId", entrezGeneId));
        if (copyNameAlterationType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("copyNameAlterationType", copyNameAlterationType));
        if (tumorType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("tumorType", tumorType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateCopyNumberAlterationsGetUsingGET1ValidateBeforeCall(String copyNameAlterationType, String hugoSymbol, Integer entrezGeneId, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'copyNameAlterationType' is set
        if (copyNameAlterationType == null) {
            throw new ApiException("Missing the required parameter 'copyNameAlterationType' when calling annotateCopyNumberAlterationsGetUsingGET1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateCopyNumberAlterationsGetUsingGET1Call(copyNameAlterationType, hugoSymbol, entrezGeneId, tumorType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateCopyNumberAlterationsGet
     * Annotate copy number alteration.
     * @param copyNameAlterationType Copy number alteration type (required)
     * @param hugoSymbol The gene symbol used in Human Genome Organisation. Example: BRAF (optional)
     * @param entrezGeneId The entrez gene ID. (Higher priority than hugoSymbol). Example: 673 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return IndicatorQueryResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IndicatorQueryResp annotateCopyNumberAlterationsGetUsingGET1(String copyNameAlterationType, String hugoSymbol, Integer entrezGeneId, String tumorType) throws ApiException {
        ApiResponse<IndicatorQueryResp> resp = annotateCopyNumberAlterationsGetUsingGET1WithHttpInfo(copyNameAlterationType, hugoSymbol, entrezGeneId, tumorType);
        return resp.getData();
    }

    /**
     * annotateCopyNumberAlterationsGet
     * Annotate copy number alteration.
     * @param copyNameAlterationType Copy number alteration type (required)
     * @param hugoSymbol The gene symbol used in Human Genome Organisation. Example: BRAF (optional)
     * @param entrezGeneId The entrez gene ID. (Higher priority than hugoSymbol). Example: 673 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return ApiResponse&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IndicatorQueryResp> annotateCopyNumberAlterationsGetUsingGET1WithHttpInfo(String copyNameAlterationType, String hugoSymbol, Integer entrezGeneId, String tumorType) throws ApiException {
        com.squareup.okhttp.Call call = annotateCopyNumberAlterationsGetUsingGET1ValidateBeforeCall(copyNameAlterationType, hugoSymbol, entrezGeneId, tumorType, null, null);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateCopyNumberAlterationsGet (asynchronously)
     * Annotate copy number alteration.
     * @param copyNameAlterationType Copy number alteration type (required)
     * @param hugoSymbol The gene symbol used in Human Genome Organisation. Example: BRAF (optional)
     * @param entrezGeneId The entrez gene ID. (Higher priority than hugoSymbol). Example: 673 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateCopyNumberAlterationsGetUsingGET1Async(String copyNameAlterationType, String hugoSymbol, Integer entrezGeneId, String tumorType, final ApiCallback<IndicatorQueryResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateCopyNumberAlterationsGetUsingGET1ValidateBeforeCall(copyNameAlterationType, hugoSymbol, entrezGeneId, tumorType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateCopyNumberAlterationsPostUsingPOST1
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateCopyNumberAlterationsPostUsingPOST1Call(List<AnnotateCopyNumberAlterationQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/annotate/copyNumberAlterations";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateCopyNumberAlterationsPostUsingPOST1ValidateBeforeCall(List<AnnotateCopyNumberAlterationQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling annotateCopyNumberAlterationsPostUsingPOST1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateCopyNumberAlterationsPostUsingPOST1Call(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateCopyNumberAlterationsPost
     * Annotate copy number alterations.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return List&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<IndicatorQueryResp> annotateCopyNumberAlterationsPostUsingPOST1(List<AnnotateCopyNumberAlterationQuery> body) throws ApiException {
        ApiResponse<List<IndicatorQueryResp>> resp = annotateCopyNumberAlterationsPostUsingPOST1WithHttpInfo(body);
        return resp.getData();
    }

    /**
     * annotateCopyNumberAlterationsPost
     * Annotate copy number alterations.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return ApiResponse&lt;List&lt;IndicatorQueryResp&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<IndicatorQueryResp>> annotateCopyNumberAlterationsPostUsingPOST1WithHttpInfo(List<AnnotateCopyNumberAlterationQuery> body) throws ApiException {
        com.squareup.okhttp.Call call = annotateCopyNumberAlterationsPostUsingPOST1ValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateCopyNumberAlterationsPost (asynchronously)
     * Annotate copy number alterations.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateCopyNumberAlterationsPostUsingPOST1Async(List<AnnotateCopyNumberAlterationQuery> body, final ApiCallback<List<IndicatorQueryResp>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateCopyNumberAlterationsPostUsingPOST1ValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateMutationsByGenomicChangeGetUsingGET1
     * @param genomicLocation Genomic location. Example: 7,140453136,140453136,A,T (required)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByGenomicChangeGetUsingGET1Call(String genomicLocation, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/annotate/mutations/byGenomicChange";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (genomicLocation != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("genomicLocation", genomicLocation));
        if (tumorType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("tumorType", tumorType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateMutationsByGenomicChangeGetUsingGET1ValidateBeforeCall(String genomicLocation, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'genomicLocation' is set
        if (genomicLocation == null) {
            throw new ApiException("Missing the required parameter 'genomicLocation' when calling annotateMutationsByGenomicChangeGetUsingGET1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateMutationsByGenomicChangeGetUsingGET1Call(genomicLocation, tumorType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateMutationsByGenomicChangeGet
     * Annotate mutation by genomic change.
     * @param genomicLocation Genomic location. Example: 7,140453136,140453136,A,T (required)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return IndicatorQueryResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IndicatorQueryResp annotateMutationsByGenomicChangeGetUsingGET1(String genomicLocation, String tumorType) throws ApiException {
        ApiResponse<IndicatorQueryResp> resp = annotateMutationsByGenomicChangeGetUsingGET1WithHttpInfo(genomicLocation, tumorType);
        return resp.getData();
    }

    /**
     * annotateMutationsByGenomicChangeGet
     * Annotate mutation by genomic change.
     * @param genomicLocation Genomic location. Example: 7,140453136,140453136,A,T (required)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return ApiResponse&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IndicatorQueryResp> annotateMutationsByGenomicChangeGetUsingGET1WithHttpInfo(String genomicLocation, String tumorType) throws ApiException {
        com.squareup.okhttp.Call call = annotateMutationsByGenomicChangeGetUsingGET1ValidateBeforeCall(genomicLocation, tumorType, null, null);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateMutationsByGenomicChangeGet (asynchronously)
     * Annotate mutation by genomic change.
     * @param genomicLocation Genomic location. Example: 7,140453136,140453136,A,T (required)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByGenomicChangeGetUsingGET1Async(String genomicLocation, String tumorType, final ApiCallback<IndicatorQueryResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateMutationsByGenomicChangeGetUsingGET1ValidateBeforeCall(genomicLocation, tumorType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateMutationsByGenomicChangePostUsingPOST1
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByGenomicChangePostUsingPOST1Call(List<AnnotateMutationByGenomicChangeQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/annotate/mutations/byGenomicChange";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateMutationsByGenomicChangePostUsingPOST1ValidateBeforeCall(List<AnnotateMutationByGenomicChangeQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling annotateMutationsByGenomicChangePostUsingPOST1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateMutationsByGenomicChangePostUsingPOST1Call(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateMutationsByGenomicChangePost
     * Annotate mutations by genomic change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return List&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<IndicatorQueryResp> annotateMutationsByGenomicChangePostUsingPOST1(List<AnnotateMutationByGenomicChangeQuery> body) throws ApiException {
        ApiResponse<List<IndicatorQueryResp>> resp = annotateMutationsByGenomicChangePostUsingPOST1WithHttpInfo(body);
        return resp.getData();
    }

    /**
     * annotateMutationsByGenomicChangePost
     * Annotate mutations by genomic change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return ApiResponse&lt;List&lt;IndicatorQueryResp&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<IndicatorQueryResp>> annotateMutationsByGenomicChangePostUsingPOST1WithHttpInfo(List<AnnotateMutationByGenomicChangeQuery> body) throws ApiException {
        com.squareup.okhttp.Call call = annotateMutationsByGenomicChangePostUsingPOST1ValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateMutationsByGenomicChangePost (asynchronously)
     * Annotate mutations by genomic change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByGenomicChangePostUsingPOST1Async(List<AnnotateMutationByGenomicChangeQuery> body, final ApiCallback<List<IndicatorQueryResp>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateMutationsByGenomicChangePostUsingPOST1ValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateMutationsByHGVSgGetUsingGET1
     * @param hgvsg HGVS genomic format. Example: 7:g.140453136A&gt;T (required)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByHGVSgGetUsingGET1Call(String hgvsg, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/annotate/mutations/byHGVSg";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (hgvsg != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hgvsg", hgvsg));
        if (tumorType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("tumorType", tumorType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateMutationsByHGVSgGetUsingGET1ValidateBeforeCall(String hgvsg, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'hgvsg' is set
        if (hgvsg == null) {
            throw new ApiException("Missing the required parameter 'hgvsg' when calling annotateMutationsByHGVSgGetUsingGET1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateMutationsByHGVSgGetUsingGET1Call(hgvsg, tumorType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateMutationsByHGVSgGet
     * Annotate mutation by HGVSg.
     * @param hgvsg HGVS genomic format. Example: 7:g.140453136A&gt;T (required)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return IndicatorQueryResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IndicatorQueryResp annotateMutationsByHGVSgGetUsingGET1(String hgvsg, String tumorType) throws ApiException {
        ApiResponse<IndicatorQueryResp> resp = annotateMutationsByHGVSgGetUsingGET1WithHttpInfo(hgvsg, tumorType);
        return resp.getData();
    }

    /**
     * annotateMutationsByHGVSgGet
     * Annotate mutation by HGVSg.
     * @param hgvsg HGVS genomic format. Example: 7:g.140453136A&gt;T (required)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return ApiResponse&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IndicatorQueryResp> annotateMutationsByHGVSgGetUsingGET1WithHttpInfo(String hgvsg, String tumorType) throws ApiException {
        com.squareup.okhttp.Call call = annotateMutationsByHGVSgGetUsingGET1ValidateBeforeCall(hgvsg, tumorType, null, null);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateMutationsByHGVSgGet (asynchronously)
     * Annotate mutation by HGVSg.
     * @param hgvsg HGVS genomic format. Example: 7:g.140453136A&gt;T (required)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByHGVSgGetUsingGET1Async(String hgvsg, String tumorType, final ApiCallback<IndicatorQueryResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateMutationsByHGVSgGetUsingGET1ValidateBeforeCall(hgvsg, tumorType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateMutationsByHGVSgPostUsingPOST1
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByHGVSgPostUsingPOST1Call(List<AnnotateMutationByHGVSgQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/annotate/mutations/byHGVSg";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateMutationsByHGVSgPostUsingPOST1ValidateBeforeCall(List<AnnotateMutationByHGVSgQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling annotateMutationsByHGVSgPostUsingPOST1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateMutationsByHGVSgPostUsingPOST1Call(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateMutationsByHGVSgPost
     * Annotate mutations by genomic change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return List&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<IndicatorQueryResp> annotateMutationsByHGVSgPostUsingPOST1(List<AnnotateMutationByHGVSgQuery> body) throws ApiException {
        ApiResponse<List<IndicatorQueryResp>> resp = annotateMutationsByHGVSgPostUsingPOST1WithHttpInfo(body);
        return resp.getData();
    }

    /**
     * annotateMutationsByHGVSgPost
     * Annotate mutations by genomic change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return ApiResponse&lt;List&lt;IndicatorQueryResp&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<IndicatorQueryResp>> annotateMutationsByHGVSgPostUsingPOST1WithHttpInfo(List<AnnotateMutationByHGVSgQuery> body) throws ApiException {
        com.squareup.okhttp.Call call = annotateMutationsByHGVSgPostUsingPOST1ValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateMutationsByHGVSgPost (asynchronously)
     * Annotate mutations by genomic change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByHGVSgPostUsingPOST1Async(List<AnnotateMutationByHGVSgQuery> body, final ApiCallback<List<IndicatorQueryResp>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateMutationsByHGVSgPostUsingPOST1ValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateMutationsByProteinChangeGetUsingGET1
     * @param hugoSymbol The gene symbol used in Human Genome Organisation. Example: BRAF (optional)
     * @param entrezGeneId The entrez gene ID. (Higher priority than hugoSymbol). Example: 673 (optional)
     * @param alteration Protein Change. Example: V600E (optional)
     * @param consequence Consequence. Exacmple: missense_variant (optional)
     * @param proteinStart Protein Start. Example: 600 (optional)
     * @param proteinEnd Protein End. Example: 600 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByProteinChangeGetUsingGET1Call(String hugoSymbol, Integer entrezGeneId, String alteration, String consequence, Integer proteinStart, Integer proteinEnd, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/annotate/mutations/byProteinChange";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (hugoSymbol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hugoSymbol", hugoSymbol));
        if (entrezGeneId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("entrezGeneId", entrezGeneId));
        if (alteration != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("alteration", alteration));
        if (consequence != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("consequence", consequence));
        if (proteinStart != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("proteinStart", proteinStart));
        if (proteinEnd != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("proteinEnd", proteinEnd));
        if (tumorType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("tumorType", tumorType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateMutationsByProteinChangeGetUsingGET1ValidateBeforeCall(String hugoSymbol, Integer entrezGeneId, String alteration, String consequence, Integer proteinStart, Integer proteinEnd, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = annotateMutationsByProteinChangeGetUsingGET1Call(hugoSymbol, entrezGeneId, alteration, consequence, proteinStart, proteinEnd, tumorType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateMutationsByProteinChangeGet
     * Annotate mutation by protein change.
     * @param hugoSymbol The gene symbol used in Human Genome Organisation. Example: BRAF (optional)
     * @param entrezGeneId The entrez gene ID. (Higher priority than hugoSymbol). Example: 673 (optional)
     * @param alteration Protein Change. Example: V600E (optional)
     * @param consequence Consequence. Exacmple: missense_variant (optional)
     * @param proteinStart Protein Start. Example: 600 (optional)
     * @param proteinEnd Protein End. Example: 600 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return IndicatorQueryResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IndicatorQueryResp annotateMutationsByProteinChangeGetUsingGET1(String hugoSymbol, Integer entrezGeneId, String alteration, String consequence, Integer proteinStart, Integer proteinEnd, String tumorType) throws ApiException {
        ApiResponse<IndicatorQueryResp> resp = annotateMutationsByProteinChangeGetUsingGET1WithHttpInfo(hugoSymbol, entrezGeneId, alteration, consequence, proteinStart, proteinEnd, tumorType);
        return resp.getData();
    }

    /**
     * annotateMutationsByProteinChangeGet
     * Annotate mutation by protein change.
     * @param hugoSymbol The gene symbol used in Human Genome Organisation. Example: BRAF (optional)
     * @param entrezGeneId The entrez gene ID. (Higher priority than hugoSymbol). Example: 673 (optional)
     * @param alteration Protein Change. Example: V600E (optional)
     * @param consequence Consequence. Exacmple: missense_variant (optional)
     * @param proteinStart Protein Start. Example: 600 (optional)
     * @param proteinEnd Protein End. Example: 600 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return ApiResponse&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IndicatorQueryResp> annotateMutationsByProteinChangeGetUsingGET1WithHttpInfo(String hugoSymbol, Integer entrezGeneId, String alteration, String consequence, Integer proteinStart, Integer proteinEnd, String tumorType) throws ApiException {
        com.squareup.okhttp.Call call = annotateMutationsByProteinChangeGetUsingGET1ValidateBeforeCall(hugoSymbol, entrezGeneId, alteration, consequence, proteinStart, proteinEnd, tumorType, null, null);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateMutationsByProteinChangeGet (asynchronously)
     * Annotate mutation by protein change.
     * @param hugoSymbol The gene symbol used in Human Genome Organisation. Example: BRAF (optional)
     * @param entrezGeneId The entrez gene ID. (Higher priority than hugoSymbol). Example: 673 (optional)
     * @param alteration Protein Change. Example: V600E (optional)
     * @param consequence Consequence. Exacmple: missense_variant (optional)
     * @param proteinStart Protein Start. Example: 600 (optional)
     * @param proteinEnd Protein End. Example: 600 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByProteinChangeGetUsingGET1Async(String hugoSymbol, Integer entrezGeneId, String alteration, String consequence, Integer proteinStart, Integer proteinEnd, String tumorType, final ApiCallback<IndicatorQueryResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateMutationsByProteinChangeGetUsingGET1ValidateBeforeCall(hugoSymbol, entrezGeneId, alteration, consequence, proteinStart, proteinEnd, tumorType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateMutationsByProteinChangePostUsingPOST1
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByProteinChangePostUsingPOST1Call(List<AnnotateMutationByProteinChangeQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/annotate/mutations/byProteinChange";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateMutationsByProteinChangePostUsingPOST1ValidateBeforeCall(List<AnnotateMutationByProteinChangeQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling annotateMutationsByProteinChangePostUsingPOST1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateMutationsByProteinChangePostUsingPOST1Call(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateMutationsByProteinChangePost
     * Annotate mutations by protein change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return List&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<IndicatorQueryResp> annotateMutationsByProteinChangePostUsingPOST1(List<AnnotateMutationByProteinChangeQuery> body) throws ApiException {
        ApiResponse<List<IndicatorQueryResp>> resp = annotateMutationsByProteinChangePostUsingPOST1WithHttpInfo(body);
        return resp.getData();
    }

    /**
     * annotateMutationsByProteinChangePost
     * Annotate mutations by protein change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return ApiResponse&lt;List&lt;IndicatorQueryResp&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<IndicatorQueryResp>> annotateMutationsByProteinChangePostUsingPOST1WithHttpInfo(List<AnnotateMutationByProteinChangeQuery> body) throws ApiException {
        com.squareup.okhttp.Call call = annotateMutationsByProteinChangePostUsingPOST1ValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateMutationsByProteinChangePost (asynchronously)
     * Annotate mutations by protein change.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateMutationsByProteinChangePostUsingPOST1Async(List<AnnotateMutationByProteinChangeQuery> body, final ApiCallback<List<IndicatorQueryResp>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateMutationsByProteinChangePostUsingPOST1ValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateStructuralVariantsGetUsingGET1
     * @param structuralVariantType Structural variant type (required)
     * @param isFunctionalFusion Whether is functional fusion (required)
     * @param hugoSymbolA The gene symbol A used in Human Genome Organisation. Example: ABL1 (optional)
     * @param entrezGeneIdA The entrez gene ID A. (Higher priority than hugoSymbolA) Example: 25 (optional)
     * @param hugoSymbolB The gene symbol B used in Human Genome Organisation.Example: BCR  (optional)
     * @param entrezGeneIdB The entrez gene ID B. (Higher priority than hugoSymbolB) Example: 613 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateStructuralVariantsGetUsingGET1Call(String structuralVariantType, Boolean isFunctionalFusion, String hugoSymbolA, Integer entrezGeneIdA, String hugoSymbolB, Integer entrezGeneIdB, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/annotate/structuralVariants";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (hugoSymbolA != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hugoSymbolA", hugoSymbolA));
        if (entrezGeneIdA != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("entrezGeneIdA", entrezGeneIdA));
        if (hugoSymbolB != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hugoSymbolB", hugoSymbolB));
        if (entrezGeneIdB != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("entrezGeneIdB", entrezGeneIdB));
        if (structuralVariantType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("structuralVariantType", structuralVariantType));
        if (isFunctionalFusion != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("isFunctionalFusion", isFunctionalFusion));
        if (tumorType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("tumorType", tumorType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateStructuralVariantsGetUsingGET1ValidateBeforeCall(String structuralVariantType, Boolean isFunctionalFusion, String hugoSymbolA, Integer entrezGeneIdA, String hugoSymbolB, Integer entrezGeneIdB, String tumorType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'structuralVariantType' is set
        if (structuralVariantType == null) {
            throw new ApiException("Missing the required parameter 'structuralVariantType' when calling annotateStructuralVariantsGetUsingGET1(Async)");
        }
        
        // verify the required parameter 'isFunctionalFusion' is set
        if (isFunctionalFusion == null) {
            throw new ApiException("Missing the required parameter 'isFunctionalFusion' when calling annotateStructuralVariantsGetUsingGET1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateStructuralVariantsGetUsingGET1Call(structuralVariantType, isFunctionalFusion, hugoSymbolA, entrezGeneIdA, hugoSymbolB, entrezGeneIdB, tumorType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateStructuralVariantsGet
     * Annotate structural variant.
     * @param structuralVariantType Structural variant type (required)
     * @param isFunctionalFusion Whether is functional fusion (required)
     * @param hugoSymbolA The gene symbol A used in Human Genome Organisation. Example: ABL1 (optional)
     * @param entrezGeneIdA The entrez gene ID A. (Higher priority than hugoSymbolA) Example: 25 (optional)
     * @param hugoSymbolB The gene symbol B used in Human Genome Organisation.Example: BCR  (optional)
     * @param entrezGeneIdB The entrez gene ID B. (Higher priority than hugoSymbolB) Example: 613 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return IndicatorQueryResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IndicatorQueryResp annotateStructuralVariantsGetUsingGET1(String structuralVariantType, Boolean isFunctionalFusion, String hugoSymbolA, Integer entrezGeneIdA, String hugoSymbolB, Integer entrezGeneIdB, String tumorType) throws ApiException {
        ApiResponse<IndicatorQueryResp> resp = annotateStructuralVariantsGetUsingGET1WithHttpInfo(structuralVariantType, isFunctionalFusion, hugoSymbolA, entrezGeneIdA, hugoSymbolB, entrezGeneIdB, tumorType);
        return resp.getData();
    }

    /**
     * annotateStructuralVariantsGet
     * Annotate structural variant.
     * @param structuralVariantType Structural variant type (required)
     * @param isFunctionalFusion Whether is functional fusion (required)
     * @param hugoSymbolA The gene symbol A used in Human Genome Organisation. Example: ABL1 (optional)
     * @param entrezGeneIdA The entrez gene ID A. (Higher priority than hugoSymbolA) Example: 25 (optional)
     * @param hugoSymbolB The gene symbol B used in Human Genome Organisation.Example: BCR  (optional)
     * @param entrezGeneIdB The entrez gene ID B. (Higher priority than hugoSymbolB) Example: 613 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @return ApiResponse&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IndicatorQueryResp> annotateStructuralVariantsGetUsingGET1WithHttpInfo(String structuralVariantType, Boolean isFunctionalFusion, String hugoSymbolA, Integer entrezGeneIdA, String hugoSymbolB, Integer entrezGeneIdB, String tumorType) throws ApiException {
        com.squareup.okhttp.Call call = annotateStructuralVariantsGetUsingGET1ValidateBeforeCall(structuralVariantType, isFunctionalFusion, hugoSymbolA, entrezGeneIdA, hugoSymbolB, entrezGeneIdB, tumorType, null, null);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateStructuralVariantsGet (asynchronously)
     * Annotate structural variant.
     * @param structuralVariantType Structural variant type (required)
     * @param isFunctionalFusion Whether is functional fusion (required)
     * @param hugoSymbolA The gene symbol A used in Human Genome Organisation. Example: ABL1 (optional)
     * @param entrezGeneIdA The entrez gene ID A. (Higher priority than hugoSymbolA) Example: 25 (optional)
     * @param hugoSymbolB The gene symbol B used in Human Genome Organisation.Example: BCR  (optional)
     * @param entrezGeneIdB The entrez gene ID B. (Higher priority than hugoSymbolB) Example: 613 (optional)
     * @param tumorType OncoTree(http://oncotree.mskcc.org) tumor type name. The field supports OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateStructuralVariantsGetUsingGET1Async(String structuralVariantType, Boolean isFunctionalFusion, String hugoSymbolA, Integer entrezGeneIdA, String hugoSymbolB, Integer entrezGeneIdB, String tumorType, final ApiCallback<IndicatorQueryResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateStructuralVariantsGetUsingGET1ValidateBeforeCall(structuralVariantType, isFunctionalFusion, hugoSymbolA, entrezGeneIdA, hugoSymbolB, entrezGeneIdB, tumorType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IndicatorQueryResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for annotateStructuralVariantsPostUsingPOST1
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call annotateStructuralVariantsPostUsingPOST1Call(List<AnnotateStructuralVariantQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/annotate/structuralVariants";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call annotateStructuralVariantsPostUsingPOST1ValidateBeforeCall(List<AnnotateStructuralVariantQuery> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling annotateStructuralVariantsPostUsingPOST1(Async)");
        }
        

        com.squareup.okhttp.Call call = annotateStructuralVariantsPostUsingPOST1Call(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * annotateStructuralVariantsPost
     * Annotate structural variants.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return List&lt;IndicatorQueryResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<IndicatorQueryResp> annotateStructuralVariantsPostUsingPOST1(List<AnnotateStructuralVariantQuery> body) throws ApiException {
        ApiResponse<List<IndicatorQueryResp>> resp = annotateStructuralVariantsPostUsingPOST1WithHttpInfo(body);
        return resp.getData();
    }

    /**
     * annotateStructuralVariantsPost
     * Annotate structural variants.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @return ApiResponse&lt;List&lt;IndicatorQueryResp&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<IndicatorQueryResp>> annotateStructuralVariantsPostUsingPOST1WithHttpInfo(List<AnnotateStructuralVariantQuery> body) throws ApiException {
        com.squareup.okhttp.Call call = annotateStructuralVariantsPostUsingPOST1ValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * annotateStructuralVariantsPost (asynchronously)
     * Annotate structural variants.
     * @param body List of queries. Please see swagger.json for request body format. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call annotateStructuralVariantsPostUsingPOST1Async(List<AnnotateStructuralVariantQuery> body, final ApiCallback<List<IndicatorQueryResp>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = annotateStructuralVariantsPostUsingPOST1ValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<IndicatorQueryResp>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
